.contact-container {
    background-color: rgb(209, 208, 210);
    margin: 0;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 35%; /* שינית את רוחב הקונטיינר כדי שיהיה ממוקד */
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
}

.contact-header {
    font-size: 32px;
    color: #333;
    margin-bottom: 30px;
    text-align: left;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form input,
.contact-form textarea {
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.contact-form textarea {
    resize: none;
    height: 150px;
}

.contact-form button {
    padding: 15px;
    background-color: #007bff;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #0056b3;
}

.background {
    height: 100vh;
    background-image: url('../assets/backround_contact.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* כדי למקם את התוכן בצד ימין */
    padding-right: 50px; /* מרווח מהקצה הימני */
    color: #151414;
}
