.education-container {
    text-align: center;
    padding: 40px;
    background-color: rgb(209, 208, 210);
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #333; /* צבע כהה לכותרת הראשית */
  }
  
  .education-items-container {
    display: flex;
    justify-content: space-around; /* רווחים שווים בין הפריטים */
    flex-wrap: wrap; /* עוטף שורה במידה ואין מספיק מקום */
  }
  
  .education-item {
    margin-bottom: 40px;
    flex-basis: 30%; /* גודל בסיסי לכל פריט  */
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #555; /* צבע כהה קל לכותרות */
  }
  
  .education-image {
    width: 300px; /* גודל התמונה */
    height: auto;
    border-radius: 10px; /* פינות מעוגלות */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* צל קטן לתמונות */
    transition: transform 0.3s ease; /* אנימציית מעבר */
  }
  
  .education-image:hover {
    transform: scale(1.05); /* הגדלה קלה במעבר עכבר */
  }
  