.home-container {
  height: 90vh; /* גובה מעט נמוך יותר כדי להעלות את התוכן */
  background-image: url('../assets/Home_page_background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* מעלה את התוכן למעלה יותר */
  padding-top: 50px; /* רווח עליון כדי לשלוט בדיוק על המיקום */
  color: rgb(21, 20, 20);
}

.home-content {
  text-align: center;
}

.size-font-Sarah {
  font-size: 6rem;
  color: #333;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  font-family: 'Arial', sans-serif;
  transition: transform 0.3s;
  margin-bottom: 5px; /* מרווח תחתון קטן יותר */
}

.size-font-Sarah:hover {
  transform: scale(1.05);
}

p {
  font-size: 3rem;
  margin-bottom: 5px; /* רווח קטן יותר מתחת ל-p */
}


.software{
  font-size: 3rem;
  margin-bottom: 5px; /* רווח קטן יותר מתחת ל-p */
 }
.software:hover{
  transform: scale(1.01)
}
.project-button {
  width: 250px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.project-button:hover {
  transform: scale(1.1);
}

.contact-info {
  margin-top: 5px; /* רווח עליון קטן יותר */
  font-size: 1.2em;
}

.contact-info h4 {
  font-size: 1rem;
  margin: 5px 0;
}
