.projects-container {
    padding: 40px;
    background-color: rgb(209, 208, 210);
  }
  
  .projects-header {
    font-size: 2.5rem;
    margin-bottom: 40px;
    text-align: center;
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 פרויקטים בכל שורה */
    gap: 40px; /* יותר רווחים בין הכרטיסים */
  }
  
  .project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    padding: 20px; /* יותר רווח בתוך הכרטיסים */
  }
  
  .project-card:hover {
    transform: scale(1.08); /* אפקט הגדלה */
  }
  
  .project-card img {
    width: 100%;
    height: auto;
    margin-bottom: 15px; /* רווח מתחת לתמונה */
  }
  
  .project-card h2 {
    margin: 10px 0;
    font-size: 1.4rem;
    text-align: center;
  }
  